extends layout
include mixins/_venueCard

block content
    h2.center #{venue.name}
    .single
        .single__hero
            img.single__image(src=`${photoUrl}` alt=(`Photo of ${venue.name}`))
    .single__details.inner
        img.single__map(src=h.staticMap([venue.location.lng, venue.location.lat]) alt=(`Map of ${venue.name}`))
        p.single__location= h.getAddress(venue)
        p.single__description= h.getDescription(venue)
        p.single__description= h.getStats(venue)

    if similarVenues.length
        .inner
            h4.center Similar Places like this
            .venues
                each venue in similarVenues
                    +venueCard(venue)

