extends layout
include mixins/_venueCard

block content
    h2.center #{venue.name}
    .single.animated.zoomInDown
        .single__hero
            img.single__image(src=`${photoUrl}` alt=(`Photo of ${venue.name}`))
    .single__details.inner.animated.zoomInDown
        img.single__map(src=h.staticMap([venue.location.lng, venue.location.lat]) alt=(`Map of ${venue.name}`))
        p.single__location.animated.zoomInDown= h.getAddress(venue)
        p.single__description.single__description--topSpace= h.getDescription(venue)
        p.single__description= h.getStats(venue)

    if similarVenues.length
        .inner
            h4.center Similar Places like this
            .venues
                each venue in similarVenues
                    +venueCard(venue)

    footer.animated.zoomInDown(id="footer" role="contentinfo")
      span Made with ❤️ by 
        a(href="https://thiru.xyz") Thiru 