mixin searchVenueForm(near="", category="", lat ="", lng="",radius="1000")
        form(action=`/venues`, method="get" )
            .filter-options
                .selectWrapper
                    label(for='category') I'm Looking For
                    input(type="text" id="category" name="category" class="category" placeholder="Coffee / Pizza" value=`${category}`)
                .selectWrapper
                    label(for='address') In the Location
                    input(type="text" id="near" name="near" class="near" placeholder="City / Country / ZipCode" value=`${near}`)
                    input(type="hidden" id="lng" name="lng" value=`${lng}` )
                    input(type="hidden" id="lat" name="lat" value=`${lat}` )
                .selectWrapper
                    label(for='slider') Within 
                        span(id="radiusLabel") `${radius}` 
                        |   meter Radius
                    .slidecontainer
                        input(type="range" min="10" max="1000" value=`${radius}`  class="slider" name="radius" id="radius")
                .selectWrapper
                    input(type="submit", value="Search Venues" class="submitButton" id="searchVenues")
                //- .selectWrapper
                //-     input(type="button", value="Get My Location" class="submitButton" id="locateMe")
                //-     div(id="nudge")



